@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Playwrite+CZ:wght@100..400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url("../img/5vltlvdi2dqy.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #7A1F1F;
}

header .logo {
    width: 40%;
    font-size: 25px;
}

header .logo a {
    width: 100%;
    display: flex;
    align-items: center;
}

header .logo a, header .logo {
    height: 100%;
}



header .logo a img {
    float: left;
    height: 100%;
}

header .logo a {
    text-decoration: none;
    color: #F2E8CF;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;

    font-family: "Work Sans", sans-serif;
}


header ul #button-login {
    background-color: #C9A66B;
    padding: 10px;
    border-radius: 5px;

}

.logo {
    font-family: "Cinzel", serif;
    font-weight: 700;
    letter-spacing: 2px;
    color: #F2E8CF;
    font-size: larger;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: flex;
    align-items: center;
}



header ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

header ul #button-login a {
    color: rgb(241, 232, 232);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Cinzel", serif;
}

p, button {
    font-family: "Work Sans", sans-serif;
}

main {
    width: 80%;
    height: 75vh;
    
    padding: 30px;
}

.car-shop {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;

    gap: 20px;
}

.produtos {
    width: 60%;
    height: 100%;

    gap: 20px;

    display: flex;
    flex-direction: column;
}

.produto {
    width: 100%;
    height: 30%;

    box-shadow: 0px 0px 13px 0px #000000;
    border-radius: 15px;

    overflow: hidden;

    display: flex;
    align-items: center;

    background-color: white;
}

.produto .content p {
    font-size: 15px;
}

.produto .content {
    padding-right: 15px;
}

.produto .content .preco-comprar {
    display: flex;
    flex-direction: row;

    align-items: center;

    margin-top: 20px;
}

.produto .content .preco-comprar p {
    width: fit-content;
    margin-right: 20px;
}

.produto .content .preco-comprar button {
    border: none;

   background-color: #7A1F1F;
    border-radius: 10px;

    color: white;

    padding: 5px;
}

.produto img {
    height: 100%;
    float: left;
}

.produto .linha {
    margin-right: 10px;
    margin-left: 10px;

    width: 0.2%;
    height: 80%;
    float: left;

    background-color: #7A1F1F;
}

.box-car {
    width: 40%;
    height: 100%;

    padding: 30px;

    box-shadow: 0px 0px 13px 0px #000000;
    border-radius: 15px;

    background-color: white;
}

.box-car #list-car {
    width: 100%;
    height: 80%;

    margin-top: 15px;
    gap: 10px;

    display: flex;
    flex-direction: column;

    overflow-y: auto;

     font-family: "Work Sans", sans-serif;
}

.box-car #list-car .item-carrinho {
    width: 100%;
    height: 25%;

    display: flex;
    align-items: center;
    gap: 10px;

    position: relative;
}

.box-car #list-car .item-carrinho img {
    height: 100%;
    float: left;
    border-radius: 10px;
}

.box-car #list-car .item-carrinho button {
    position: absolute;
    right: 0;

    border: none;

    background-color: #7A1F1F;
    border-radius: 10px;

    color: white;

    padding: 5px;
}

.box-car .confirmation-value {
    height: 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px;
}

.box-car .confirmation-value button {
    border: none;

    background-color: #7A1F1F;
    border-radius: 10px;

    color: white;

    padding: 5px;
}



footer {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #7A1F1F;
    padding: 0 40px;
}

footer .redes {
    display: flex;
    gap: 12px;
}

footer .redes img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

@media only screen and (max-width: 579px) {

   body {
        align-items: stretch;
        
        background-repeat: repeat;
        height: 120vh;
    }

    header {
        height: 10vh;
        flex-direction: column;
        justify-content: center;

        gap: 10px;
        padding: 10px 16px;
    }

    header ul {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 10px;
    }

    nav {
        display: none;
    }

    header .logo {
        width: 100%;
        height: 100%;

        justify-content: center;
    }

    header .logo img {
        height: 50%;
    }

    header .logo a {
        justify-content: center;
    }


    main {
        width: 100%;
        height: auto;
        padding: 16px;
    }

    
    .car-shop {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .produtos,
    .box-car {
        width: 100%;
        height: auto;
    }

    h4 {
        font-size: 25px;
    }

    .produtos {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .produto {
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
    }

    .produto .preco-comprar button {
        font-size: 25px;
    }

    .produto .content .preco-comprar p {
        font-size: 25px;
    }

    .produto img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    .produto .content p {
        font-size: 20px;
    }

    .produto .linha {
        display: none;
    }

    .produto .content {
        padding: 12px;
    }

    .box-car {
        padding: 16px;
    }

    .box-car #list-car {
        height: auto;
        max-height: 260px;
        overflow-y: auto;
    }

    .box-car #list-car .item-carrinho {
        height: auto;
    }

    .box-car #list-car .item-carrinho img {
        width: 70px;
        height: 70px;
        object-fit: cover;

    }

    .box-car #list-car .item-carrinho button {
        position: static;
        margin-left: auto;
        font-size: 25px;

     
    }

    .box-car .confirmation-value {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .box-car .confirmation-value button {
        width: 100%;

        font-size: 25px;
    }

    .box-car {
        font-size: 25px;
    }

    .box-car h4 {
        font-size: 30px; 
    }

    footer {
        height: auto;
        padding: 16px;
        flex-direction: column;
        gap: 8px;
        text-align: center;
    }

    footer .redes {
        justify-content: center;
    }

}