@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Playwrite+CZ:wght@100..400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url("../img/5vltlvdi2dqy.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #7A1F1F;
}

header .logo {
    width: 40%;
    font-size: 25px;
}

header .logo a {
    width: 100%;
    display: flex;
    align-items: center;
}

header .logo a, header .logo {
    height: 100%;
}



header .logo a img {
    float: left;
    height: 100%;
}

header .logo a {
    text-decoration: none;
    color: #F2E8CF;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;

    font-family: "Work Sans", sans-serif;
}


header ul #button-login {
    background-color: #C9A66B;
    padding: 10px;
    border-radius: 5px;

}

.logo {
    font-family: "Cinzel", serif;
    font-weight: 700;
    letter-spacing: 2px;
    color: #F2E8CF;
    font-size: larger;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: flex;
    align-items: center;
}



header ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

header ul #button-login a {
    color: rgb(241, 232, 232);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Cinzel", serif;
}

p, a {
    font-family: "Work Sans", sans-serif;
}

a {
    color: #7A1F1F;
}

main {
    width: 30%;
    height: 75vh;
    
    padding: 30px;

    
}

.login {
    width: 100%;
    height: 100%;

    box-shadow: 0px 0px 13px 0px #000000;
    border-radius: 15px;



    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
}

.login h2 {
    margin-bottom: 40px;
}

.login p {
    margin-top: 15px;
    margin-bottom: 12px;
}

form {
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px;
}

form input {
    width: 100%;
    height: 35px;

    border-radius: 5px;
    border: 1px rgb(133, 133, 133) solid;

    padding-left: 10px;
}

form button {
    background-color: #7A1F1F;
    border: none;

    color: white;

    width: 60%;
    height: 35px;

    font-family: "Work Sans", sans-serif;

    border-radius: 20px;
}

footer {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #7A1F1F;
    padding: 0 40px;
}

footer .redes {
    display: flex;
    gap: 12px;
}

footer .redes img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

@media only screen and (max-width: 579px) {

    body {
        align-items: stretch;
    
    }

    header {
        height: 10vh;
        flex-direction: row;
        justify-content: center;

        gap: 10px;
        padding: 10px 16px;
    }

    header h1 {
        font-size: 30px;
    }

    header ul {
        font-size: 30px;
    }

    header ul {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 10px;
    }

    header .logo {
        width: 100%;
        height: 100%;

        justify-content: center;
    }

    header .logo img {
        height: 50%;
    }

    header .logo a {
        justify-content: flex-start;
    }

    main {
        width: 100%;
        height: 90vh;
        padding: 16px;
        display: flex;
        justify-content: center;

        align-items: center;
    }

    .login {
        width: 100%;
        padding: 20px;
        height: 60vh;
    }

    .login h2 {
        font-size: 60px;
    }

    .login p {
        font-size: 25px;
    }

    .login a {
        font-size: 25px;
    }

    form {
        width: 100%;
    }

    form button {
        width: 100%;
        height: 70px;
        font-size: 25px;
    }

    

    form input {
        height: 70px;
        font-size: 25px;
    }

    footer {
        height: auto;
        padding: 16px;
        flex-direction: column;
        gap: 8px;
        text-align: center;
    }

    footer .redes {
        justify-content: center;
    }

    header ul li  {
        display: none;
    }

    header ul #button-login {
        display: block;
    }
}